<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if (friends && friends.length) { %>
      <div class="panel panel-default">
        <div class="panel-heading">Friends</div>
        <div class="panel-body">
          <div class="container-fluid">
            <% _.each(friends, function (user) { %>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 centered">
                  <a href="#/user-page/<%= user['id'] %>"><%= user.get('first_name') + ' ' + user.get('last_name') %></a>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    <% }; %>
  </div>
</div>