<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if (friends && friends.length) { %>
      <div class="panel panel-default">
        <div class="panel-heading">All Friends</div>
        <div class="panel-body">
          <div class="container-fluid">
            <% _.each(friends, function (user) { %>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 centered">
                  <a href="#/user-page/<%= user['id'] %>"><%= user.get('first_name') + ' ' + user.get('last_name') %></a>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    <% }; %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="right-orientated-row pagination">
      <li id="prev-friends-page"><a href="#">&laquo;</a></li>
      <li id="next-friends-page"><a href="#">&raquo;</a></li>
    </ul>
    <div class="clear"></div>
  </div>  
</div>