<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Personal information</div>
        <div class="panel-body">
          <table class="table table-hover">
            <tbody>
              <!-- <% _.each(user, function (val, key) { %>
                <tr>
                  <td><%= key + ': ' %></td>
                  <td><%= val %></td>
                </tr>
              <% }); %> -->
              <tr>
                <td>First Name:</td>
                <td><%= user['first_name'] %></td>
              </tr>
              <tr>
                <td>Last Name:</td>
                <td><%= user['last_name'] %></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td><%= user['email'] %></td>
              </tr>
              <tr>
                <td>Birthday:</td>
                <td><%= user['birthday'] %></td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td><%= user['phone'] %></td>
              </tr>
              <tr>
                <td>Address:</td>
                <td><%= user['address'] %></td>
              </tr>
              <tr>
                <td>Image url:</td>
                <td><%= user['image_url'] %></td>
              </tr>
              <tr>
                <td>Twitter:</td>
                <td><%= user['twitter'] %></td>
              </tr>
              <tr>
                <td>Description:</td>
                <td><%= user['description'] %></td>
              </tr>
              <tr>
                <td>Status:</td>
                <td><%= user['status'] %></td>
              </tr>
              <tr>
                <td>Created at:</td>
                <td><%= user['created_at'] %></td>
              </tr>
              <tr>
                <td>Updated at:</td>
                <td><%= user['updated_at'] %></td>
              </tr>
              <tr>
                <td>Age:</td>
                <td><%= user['age'] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Wall -->
      <div class="block-panel">
        <h2 class="block-panel-heading">Wall</h2>
        <div class="row message-input">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-btn">
                <button id="message-send" class="btn btn-default" type="button">Send</button>
              </span>
              <input id="message-description" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body chat-body">          
            <% _.each(messages, function (message, key) { %>
              <span class="message"><span class="user" style="color: #0A6"><%= message.get('sender') %></span>: <%= message.get('description') %></span>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>