<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Personal information</div>
        <div class="panel-body">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>First Name:</td>
                <td><%= viewedUser['first_name'] %></td>
              </tr>
              <tr>
                <td>Last Name:</td>
                <td><%= viewedUser['last_name'] %></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td><%= viewedUser['email'] %></td>
              </tr>
              <tr>
                <td>Birthday:</td>
                <td><%= viewedUser['birthday'] %></td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td><%= viewedUser['phone'] %></td>
              </tr>
              <tr>
                <td>Address:</td>
                <td><%= viewedUser['address'] %></td>
              </tr>
              <tr>
                <td>Image url:</td>
                <td><%= viewedUser['image_url'] %></td>
              </tr>
              <tr>
                <td>Twitter:</td>
                <td><%= viewedUser['twitter'] %></td>
              </tr>
              <tr>
                <td>Description:</td>
                <td><%= viewedUser['description'] %></td>
              </tr>
              <tr>
                <td>Status:</td>
                <td><%= viewedUser['status'] %></td>
              </tr>
              <tr>
                <td>Created at:</td>
                <td><%= viewedUser['created_at'] %></td>
              </tr>
              <tr>
                <td>Updated at:</td>
                <td><%= viewedUser['updated_at'] %></td>
              </tr>
              <tr>
                <td>Age:</td>
                <td><%= viewedUser['age'] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>