<form id="register-form" class="block-panel">
  <h2 class="block-panel-heading">Register new account</h2>
  <input type="text" name="email" class="form-control credentials" placeholder="Email address" required="" autofocus="">
  <input type="password" name="password" class="form-control credentials" placeholder="Password" required="">

  <div class="input-group">
    <input type="text" name="first_name" placeholder="First Name" class="form-control credentials">
    <input type="text" name="last_name" placeholder="Last Name" class="form-control credentials">
    <input type="text" name="birthday" placeholder="Birthday" class="form-control credentials">
    <input type="text" name="phone" placeholder="Phone" class="form-control credentials">
    <input type="text" name="address" placeholder="Address" class="form-control credentials">
    <input type="text" name="image_url" placeholder="Image url" class="form-control credentials">
    <input type="text" name="twitter" placeholder="Twitter" class="form-control credentials">
    <input type="text" name="description" placeholder="Description" class="form-control credentials">
    <input type="text" name="status" placeholder="Status" class="form-control credentials">
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

  <hr/>
  <div class="centered"><a href="#/login">Login</a></div>
</form>